

* {
    box-sizing: border-box;
}

button,
div,
form,
input {

    margin: 17px;
}

h1 {
    text-align: center;
    background-color: white;
    margin: 0px 0px 10px 0px;
    padding: 20px;
    font-weight: bold;
}
.page-header {
    background-color: white;
    margin-top: 0px;
}

.container {
    margin-top: 0px;
}

body {

    background-image: url("../images/tileable_wood.png")
}

#newGifs {

    background-color: white;

}

p {
    width: 300px;
    margin: 0 0 3px 0;
    font-size: 16px;
    font-weight: bold;
}

.pics {
    float: left;
}

#newGifs {
    clear: both;
    overflow: hidden;
}
button.giphy {
    clear: both;
    overflow: hidden;
}


button {

    background-color: steelblue;
    color: white;

}